*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color:rgb(148, 207, 188);
    font-family: cursive;
}

header
{
    position: relative;
    height: 30vh;
    min-height: 500px;
    background-image: url(../img/design2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    z-index: 1;
}

h1
{
    background-color:rgb(45, 160, 168);
    padding-left: 2vw;
    vertical-align: center;
    font-size: 3vw;
}

nav
{
    text-align: end;
    background-color:rgb(45, 160, 168);
    height: 2vh;
    padding-right: 10px;
    z-index: 2;
}

nav a
{
    display: inline-block;
    width: 12vw;
    height: 3.4vh;
    color:aliceblue;
    border-width: 2px;
    border-color:black;
    border-style: solid;
    background-color:blue;
    text-decoration:none;
    text-align: center;
    font-size:1.4vh;
    padding-top: 0.4vh;
}

nav a[href="#"]
{
    background-color:green;
}

nav a:hover
{
background-color:cadetblue;
transform: rotate(5deg);
}

h2
{
    position: absolute;
    text-align: center;
    font-size: 2rem;
    padding: 1.2rem;
    background-color:rgb(45, 160, 168);
    border-color: black;
    border: 2px;
    border-style: solid;
    width: 100%;
    bottom: 0;
}

main{
    display: flex;
    position: relative;
    min-height:70vh;

}
 
.logo{
    display: flex;
    width: 30vw;
    padding: 5vw;
}

.logo img{
    width: 20vw;
    height: 20vw;
    box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(45, 160, 168);
}

div {
    padding: 20px 40px;
    top:0rem;
    font-size: 1.25rem;
    width: 100%;
    background-size:cover;
    color: black;
    text-shadow: 0.05em 0.05em limegreen;
}

section p{
    padding-bottom: 20px;
    text-indent: 2em;
    }

.div1{
    background-image: url(../img/hockey1.jpg);
    background-repeat:repeat;
}

.div2{
    background-image: url(../img/hockey2.jpg);
    background-repeat: no-repeat;
}

.div3{
    background-image: url(../img/hockey3.jpg);
    background-repeat: no-repeat;
    color: white;
}

.div_contact a{
    color: lightskyblue;
    text-shadow: 0.05em 0.05em whitesmoke;
}

.list1{

    list-style:decimal inside ;
}

.list1 ::marker{
    font-weight: 800;
}

.list1 span{
    font-weight: 800;
}
.list1 li{
    margin-top: 1rem;
}

.list2 li{
    margin-top:0;
    margin-bottom: 0rem;
    list-style:lower-alpha inside;
}

ol.list3{
    list-style:circle inside;
}

dt{
    font-weight: 800;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

dd{
    margin-bottom: 2rem;
}


dd p{
    text-indent: 2em;
}

table{
    padding: 3rem;
    min-width: 60vw ;
    font-size: 1.5rem;
    width: 80%;
    border-spacing: 0 
}

thead{
    text-align: justify;
    background-color:chartreuse;
}


table .bgnd1{
    background-color: rgb(25, 212, 212);
}

table .bgnd2{
    background-color:azure;
}

.date_col{
    text-align: center;
}

.gamescontact{
    padding-left: 0;
}
.gamescontact div{
    padding-left: 0;
    padding-right: 10px;
}

.gamescontact span{
    font-weight: 800;
    font-size: 1.5rem;
}

#questions div{
    padding: 0;
}
#contact{
    display: flex;
    margin-top: 10px;
    max-width:80%;
    justify-content: space-between;
    
}
