*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color:rgb(148, 207, 188);
    font-family: cursive;
}

header
{
    position: relative;
    height: 30vh;
    min-height: 500px;
    background-image: url(../img/design2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    z-index: 1;
}

h1
{
    background-color:rgb(45, 160, 168);
    padding-left: 2vw;
    vertical-align: center;
    font-size: 3vw;
}

nav
{
    text-align: end;
    background-color:rgb(45, 160, 168);
    height: 2vh;
    padding-right: 10px;
}

nav a
{
    display: inline-block;
    width: 12vw;
    height: 3.4vh;
    color:aliceblue;
    border-width: 2px;
    border-color:black;
    border-style: solid;
    background-color:blue;
    text-decoration:none;
    text-align: center;
    font-size:1.4vh;
    padding-top: 0.4vh;
}

nav a[href="#"]
{
    background-color:green;
}

nav a:hover
{
background-color:cadetblue;
transform: rotate(5deg);
}

h2
{
    position: absolute;
    text-align: center;
    font-size: 2rem;
    padding: 1.2rem;
    background-color:rgb(45, 160, 168);
    border-color: black;
    border: 2px;
    border-style: solid;
    width: 100%;
    bottom: 0;
}

main{
    position: relative;
    width: 100vw;
    z-index: 0;
}
 
.logo{
    display: inline-block;
    width: 25vw;
    padding: 5vw;
}

.logo img{
    height: 15vw;
    box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(45, 160, 168);
}

div {
    position:absolute;
    padding: 20px 40px;
    left:25vw;
    top:0rem;
    font-size: 1.25rem;
    height:62vh;
    width:75%;
    background-size:cover;
    color: black;
    text-shadow: 0.05em 0.05em limegreen;
}

section p{
    padding-bottom: 20px;
    text-indent: 2em;
    }

.div_home{
    background-image: url(../img/hockey1.jpg);
    background-repeat: no-repeat;
}

.div_about{
    background-image: url(../img/hockey2.jpg);
    background-repeat: no-repeat;
}

.div_contact{
    background-image: url(../img/hockey3.jpg);
    background-repeat: no-repeat;
    color: white;
}

.div_contact a{
    color: lightskyblue;
    text-shadow: 0.05em 0.05em whitesmoke;
}

